.App {
  width: 470px;
  height: 650px;
  padding: 15px;
  background: url("./images/background.png");
  background-size: contain;
  background-position: top;
  background: cover;
}

hr {
  height: 1px;
  background-color: #666;
  border: none;
}

footer {
  width: 470px;
  height: 25px;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  background-color: rgba(40,40,40,.4);
}

footer div {
  float: left;
  width: 146px;
}

footer div a {
  text-decoration: none;
  color: #00C2D1;
}

footer .donate {
  text-align: left;
}

footer .github {
  width: 148px;
  text-align: center;
}

footer .version {
  text-align: right;
  color: #C5A153;
}
