/* CSS Resets */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Application CSS */
.App {
  width: 470px;
  height: 825px;
  padding: 15px;
  background: url("./images/background2.png");
  background-size: contain;
  background-position: top;
  background: cover;
}

hr {
  height: 1px;
  background-color: #7B6B43;
  border: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle,
.show > .btn-primary.dropdown-toggle:focus {
  background-color: #006068;
  border-color: #006068;
  box-shadow: 0 0 0 .2rem rgba(0,96,104);
}

.install-success {
  text-align: center;
}

.text-success {
  color: #447604 !important;
}

.text-white {
  color: #fefefe;
}
.install-invalid {
  text-align: center;
  color: #c5a153;
}

.install-error-message {
  color: #B3001B;
}

.settings-pane {
  margin: 25px 0;
  padding: 15px;
  background: rgba(1, 10, 19, .5);
  -webkit-box-shadow: inset 0px 0px 2px 1px #7B6B43;
  box-shadow: inset 0px 0px 2px 1px #7B6B43;
  color: #fefefe;
}

.settings-pane .settings-controls {
  height: 24px;
  text-align: right;
}

.settings-pane .settings-controls svg {
  color: #C5A153;
  margin: 0 5px;
  cursor: pointer;
}

.settings-pane .unsupported {
  color: #333;
}

.settings-pane .settings-heading {
  color: #C5A153;
}

.settings-pane div {
  width: 100%;
  height: 35px;
}

.settings-pane span {
  width: 100%;
  font-size: 18px;
}

.settings-pane button {
  display: block;
  width: 74px;
  float: right;
  padding: 0 5px;
}

.settings-pane button.enabled,
.settings-pane button.enabled:hover,
.settings-pane button.enabled:active,
.settings-pane button.enabled:focus,
.settings-pane button.enabled:active:focus,
.settings-pane button.enabled:not(:disabled):not(.disabled).active,
.settings-pane button.enabled:not(:disabled):not(.disabled):active,
.settings-pane button.enabled:not(:disabled):not(.disabled).active:focus,
.settings-pane button.enabled:not(:disabled):not(.disabled):active:focus,
.settings-pane button.enabled .show>button.enabled.dropdown-toggle,
.settings-pane button.enabled .show>button.enabled.dropdown-toggle:focus {
  background-color: #058C42;
  border-color: #058C42;
  box-shadow: 0 0 0 .2rem rgb(5, 140, 66);
}

.settings-pane button.disabled,
.settings-pane button.disabled:hover,
.settings-pane button.disabled:active,
.settings-pane button.disabled:focus,
.settings-pane button.disabled:active:focus,
.settings-pane button.disabled:not(:disabled):not(.disabled).active,
.settings-pane button.disabled:not(:disabled):not(.disabled):active,
.settings-pane button.disabled:not(:disabled):not(.disabled).active:focus,
.settings-pane button.disabled:not(:disabled):not(.disabled):active:focus,
.settings-pane button.disabled .show>button.disabled.dropdown-toggle,
.settings-pane button.disabled .show>button.disabled.dropdown-toggle:focus {
  background-color: #B3001B;
  border-color: #B3001B;
  box-shadow: 0 0 0 .2rem rgb(179, 0, 27);
}

.settings-pane .unsupported button.disabled,
.settings-pane .unsupported button.disabled:hover,
.settings-pane .unsupported button.disabled:active,
.settings-pane .unsupported button.disabled:focus,
.settings-pane .unsupported button.disabled:active:focus,
.settings-pane .unsupported button.disabled:not(:disabled):not(.disabled).active,
.settings-pane .unsupported button.disabled:not(:disabled):not(.disabled):active,
.settings-pane .unsupported button.disabled:not(:disabled):not(.disabled).active:focus,
.settings-pane .unsupported button.disabled:not(:disabled):not(.disabled):active:focus,
.settings-pane .unsupported button.disabled .show>button.disabled.dropdown-toggle,
.settings-pane .unsupported button.disabled .show>button.disabled.dropdown-toggle:focus {
  background-color: #59000d;
  border-color: #59000d;
  box-shadow: 0 0 0 .2rem rgb(89,0,13);
}

.settings-pane .unsupported .btn-primary.disabled,
.settings-pane .unsupported .btn-primary:disabled {
  color: #333;
}

footer {
  width: 470px;
  height: 25px;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  background-color: rgba(40,40,40,.4);
}

footer div {
  float: left;
  width: 146px;
}

footer div a {
  text-decoration: none;
  color: #00C2D1;
}

footer .donate {
  text-align: left;
}

footer .github {
  width: 148px;
  text-align: center;
}

footer .version {
  text-align: right;
  color: #C5A153;
}
